In [1]:
#[1]

# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#[2]

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-03-25 19:49:56,5.4112,100.3354,80.01,94,20,2.15
1,1,Castro,BR,2021-03-25 19:51:08,-24.7911,-50.0119,73.53,81,51,3.18
2,2,Butaritari,KI,2021-03-25 19:51:08,3.0707,172.7902,81.10,79,100,13.58
3,3,Longyearbyen,SJ,2021-03-25 19:51:08,78.2186,15.6401,23.00,74,90,18.41
4,4,Victoria,HK,2021-03-25 19:49:55,22.2855,114.1577,68.00,78,5,1.01

In [3]:
#[3]

# Get the data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#[4]

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#[5]

#Next, create the heatmap for the maximum temperature.

# The general syntax for creating a heatmap is as follows.

# 1. Assign the locations to an array of latitude and longitude pairs.
####locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#####temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
####fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#####heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#####fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
####fig

In [6]:
#[6]

# Add the locations array and the values from the maximum temperature 
# from our city_data_df DataFrame for Steps 1 and 2 and the rest of the code above.



# Heatmap of Max temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

                                 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#[7]

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#[8]

# Heatmap of Percent Cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

                                 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#[9]

# Heatmap of Wind Speed

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

                                 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#[10]

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
#[11]

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-03-25 19:49:56,5.4112,100.3354,80.01,94,20,2.15
2,2,Butaritari,KI,2021-03-25 19:51:08,3.0707,172.7902,81.10,79,100,13.58
5,5,Cayenne,GF,2021-03-25 19:51:09,4.9333,-52.3333,86.00,62,10,14.97
8,8,Bathsheba,BB,2021-03-25 19:51:10,13.2167,-59.5167,82.40,54,40,20.71
10,10,Noumea,NC,2021-03-25 19:48:39,-22.2763,166.4572,80.01,78,0,2.30
11,11,Rikitea,PF,2021-03-25 19:51:11,-23.1203,-134.9692,79.88,72,52,18.21
13,13,Sao Raimundo Das Mangabeiras,BR,2021-03-25 19:51:12,-7.0219,-45.4811,80.82,78,100,2.95
21,21,Bom Jardim,BR,2021-03-25 19:51:15,-7.7958,-35.5872,83.16,47,78,14.88
33,33,Puerto Ayora,EC,2021-03-25 19:51:19,-0.7393,-90.3518,84.20,74,40,13.80
35,35,Marigot,MF,2021-03-25 19:51:20,18.0667,-63.0833,84.20,54,20,13.80

In [15]:
#[12]

# to determine if there are any null values.
preferred_cities_df.count()

City_ID       155
City          155
Country       154
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [16]:
#[13]

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,80.01,5.4112,100.3354,
2,Butaritari,KI,81.10,3.0707,172.7902,
5,Cayenne,GF,86.00,4.9333,-52.3333,
8,Bathsheba,BB,82.40,13.2167,-59.5167,
10,Noumea,NC,80.01,-22.2763,166.4572,
11,Rikitea,PF,79.88,-23.1203,-134.9692,
13,Sao Raimundo Das Mangabeiras,BR,80.82,-7.0219,-45.4811,
21,Bom Jardim,BR,83.16,-7.7958,-35.5872,
33,Puerto Ayora,EC,84.20,-0.7393,-90.3518,
35,Marigot,MF,84.20,18.0667,-63.0833,

In [19]:
#[14]

# Set parameters to search for a hotel.
#params = {
    #"radius": 5000,
    #"type": "lodging",
    #"key": g_key
#}

In [20]:
#[15] NOTE: IT WILL BE ERROR

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.

In [21]:
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
    

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,80.01,5.4112,100.3354,
2,Butaritari,KI,81.10,3.0707,172.7902,
5,Cayenne,GF,86.00,4.9333,-52.3333,
8,Bathsheba,BB,82.40,13.2167,-59.5167,
10,Noumea,NC,80.01,-22.2763,166.4572,
11,Rikitea,PF,79.88,-23.1203,-134.9692,
13,Sao Raimundo Das Mangabeiras,BR,80.82,-7.0219,-45.4811,
21,Bom Jardim,BR,83.16,-7.7958,-35.5872,
33,Puerto Ayora,EC,84.20,-0.7393,-90.3518,
35,Marigot,MF,84.20,18.0667,-63.0833,

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))